<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PlayerJumpLR1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,32},{22,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,58}}</string>
                <key>sourceSize</key>
                <string>{22,58}</string>
            </dict>
            <key>PlayerJumpLR10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{29,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,50}}</string>
                <key>sourceSize</key>
                <string>{29,50}</string>
            </dict>
            <key>PlayerJumpLR11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{27,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,53}}</string>
                <key>sourceSize</key>
                <string>{27,53}</string>
            </dict>
            <key>PlayerJumpLR12.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,56},{25,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,57}}</string>
                <key>sourceSize</key>
                <string>{25,57}</string>
            </dict>
            <key>PlayerJumpLR2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,83},{27,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,56}}</string>
                <key>sourceSize</key>
                <string>{27,56}</string>
            </dict>
            <key>PlayerJumpLR3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{28,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,49}}</string>
                <key>sourceSize</key>
                <string>{28,49}</string>
            </dict>
            <key>PlayerJumpLR4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{28,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,57}}</string>
                <key>sourceSize</key>
                <string>{28,57}</string>
            </dict>
            <key>PlayerJumpLR5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,63}}</string>
                <key>sourceSize</key>
                <string>{24,63}</string>
            </dict>
            <key>PlayerJumpLR6.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,112},{29,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,52}}</string>
                <key>sourceSize</key>
                <string>{29,52}</string>
            </dict>
            <key>PlayerJumpLR7.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{28,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,59}}</string>
                <key>sourceSize</key>
                <string>{28,59}</string>
            </dict>
            <key>PlayerJumpLR8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{26,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,62}}</string>
                <key>sourceSize</key>
                <string>{26,62}</string>
            </dict>
            <key>PlayerJumpLR9.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,143},{30,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,49}}</string>
                <key>sourceSize</key>
                <string>{30,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlayerJumpLR.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e49d3239fac186e32a6f2ceb6d8ec87:1/1$</string>
            <key>textureFileName</key>
            <string>PlayerJumpLR.png</string>
        </dict>
    </dict>
</plist>
