<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PlayerJumpRL1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{23,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,59}}</string>
                <key>sourceSize</key>
                <string>{23,59}</string>
            </dict>
            <key>PlayerJumpRL10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{29,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,50}}</string>
                <key>sourceSize</key>
                <string>{29,50}</string>
            </dict>
            <key>PlayerJumpRL11.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,113},{27,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,53}}</string>
                <key>sourceSize</key>
                <string>{27,53}</string>
            </dict>
            <key>PlayerJumpRL12.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,56},{26,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{26,57}</string>
            </dict>
            <key>PlayerJumpRL2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,84},{27,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,56}}</string>
                <key>sourceSize</key>
                <string>{27,56}</string>
            </dict>
            <key>PlayerJumpRL3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>PlayerJumpRL4.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,27},{27,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,57}}</string>
                <key>sourceSize</key>
                <string>{27,57}</string>
            </dict>
            <key>PlayerJumpRL5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,63}}</string>
                <key>sourceSize</key>
                <string>{24,63}</string>
            </dict>
            <key>PlayerJumpRL6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>PlayerJumpRL7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{28,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,60}}</string>
                <key>sourceSize</key>
                <string>{28,60}</string>
            </dict>
            <key>PlayerJumpRL8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{26,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,62}}</string>
                <key>sourceSize</key>
                <string>{26,62}</string>
            </dict>
            <key>PlayerJumpRL9.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,142},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlayerJumpRL.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c09d6603bfc18a2e1cfac2b397386c1:1/1$</string>
            <key>textureFileName</key>
            <string>PlayerJumpRL.png</string>
        </dict>
    </dict>
</plist>
