<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PlayerRunLR1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,64},{44,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>PlayerRunLR10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>PlayerRunLR2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,148},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{38,56}</string>
            </dict>
            <key>PlayerRunLR3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{32,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,59}}</string>
                <key>sourceSize</key>
                <string>{32,59}</string>
            </dict>
            <key>PlayerRunLR4.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{27,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,60}}</string>
                <key>sourceSize</key>
                <string>{27,60}</string>
            </dict>
            <key>PlayerRunLR5.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,110},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>PlayerRunLR6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>PlayerRunLR7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{37,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,57}}</string>
                <key>sourceSize</key>
                <string>{37,57}</string>
            </dict>
            <key>PlayerRunLR8.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,31},{31,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,59}}</string>
                <key>sourceSize</key>
                <string>{31,59}</string>
            </dict>
            <key>PlayerRunLR9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,61}}</string>
                <key>sourceSize</key>
                <string>{25,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlayerRunLR.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7b17dfd10779cf5bed019d1feab10b8:1/1$</string>
            <key>textureFileName</key>
            <string>PlayerRunLR.png</string>
        </dict>
    </dict>
</plist>
